
.leaderboard-table__wrapper * {
  font-family: "Bebas Neue Bold";
}

.leaderboard-table__wrapper {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leaderboard-table {
  width: 97%;
  border-collapse: separate;
  border-spacing: 0 .9rem;
  text-align: left;
  padding-left: 7rem;

  &__top {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
  }

  &__logo {
    height: 15rem;
    width: 11vw;
    background: url('../images/leaderboard-table/logo.png') no-repeat center / contain;
    margin-right: 15rem;
    align-self: flex-start;
  }

  &__fortnite {
    width: 10vw;
    height: 4rem;
    margin: 0 auto 3rem auto;
    background: url('../images/leaderboard-table/fortnite.png') no-repeat center / contain;
  }

  &__info-wrapper {
    display: flex;
    align-items: center;
  }

  &__time {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 6rem;
    font-size: 7rem;
    margin-right: 2rem;
  }

  &__title {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 4.5rem;
    font-size: 5.5rem;
  }

  &__header-row {
    background-image: linear-gradient(to left, #9242ff 0%, #5fc5ff 50%, #9242ff 100%);
    background-attachment:fixed;


    @media (max-width: 767px) {
      display: none !important;
    }

  }

  .leaderboard-table__row:nth-child(3) {
    .leaderboard-table__td:nth-child(n + 2) .td-inner {
      font-size: 5.5vh;
    }
  }


  &__row {
    box-shadow: 0 0 3px rgba(57, 23, 103, 0.6);


    &_empty {
      background: none !important;
      box-shadow: none !important;
    }

  }

  &__th {
    font-size: 4.5rem;
    padding: 1.5rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    color: #75f7ff;
    letter-spacing: -.2rem;
    text-shadow: 2px 2px 0 #003658, -2px 2px 0 #003658, 2px -2px 0 #003658, -2px -2px 0 #003658;

    &_rank {
      padding-left: 1rem;
    }

    &_player {
      padding-left: 2.5rem;
    }

    @media (max-width:992px) {
      font-size: 4rem;
    }
  }

  &__country {
    min-width: 5rem;
    max-width: 5rem;
    height: 5rem;
    position: absolute;
    left: -6rem;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &__td {
    position: relative;
    vertical-align: middle;

    font-weight: 700;
    background: #8b35ff;

    .td-inner {
      height: 5.5vh;
      color: #ffffff;
      font-size: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width:992px) {
      font-size: 3rem;
    }

    &_empty {
      background: none !important;
      height: 2rem;
    }

    &_rank .td-inner {
      background: #2fe7f8;
      color: #291c46;
      text-align: center;
      text-transform: lowercase;
      width: 7rem;
      font-size: 4.5rem;
      font-family: "Brandon Grotesque";

      @media (max-width: 767px) {
        width: auto;
        text-align: left;
      }
    }

    &_rank-first .td-inner{
      text-shadow: 3px 3px 0 #ffddc9, -3px 3px 0 #ffddc9, 3px -3px 0 #ffddc9,  -3px -3px 0 #ffddc9;
      font-size: 6rem !important;
      &:after {
        right: 1.5rem !important;
        text-shadow: 2px 2px 0 #ffddc9, -2px 2px 0 #ffddc9, 2px -2px 0 #ffddc9,  -2px -2px 0 #ffddc9;
      }
    }

    &_rank-first .td-inner, &_rank-second .td-inner, &_rank-third .td-inner {
      font-size: 5.5rem;
      color: #fffdff;
      line-height: 0;
      position: relative;
      justify-content: flex-start;
      text-align: left;
      padding-left: 1rem;

      &:after {
        position: absolute;
        content: 'st';
        font-size: 3rem;
        font-weight: 400;
        color: #291c46;
        top: 1.5rem;
        right: .9rem;
        text-transform: lowercase;
        @media (max-width:767px) {
          margin-left: 2rem;
        }
      }
    }

    &_rank-second .td-inner:after {
      content: 'nd';
      text-transform: lowercase;
      font-size: 2.5rem;

      @media (max-width:767px) {
        margin-left: 3rem !important;
      }
    }

    &_rank-third .td-inner:after {
      content: 'rd';
      text-transform: lowercase;
      font-size: 2.5rem;

      @media (max-width:767px) {
        margin-left: 3rem !important;
      }
    }

    &_player {
      padding-left: 4rem;
      padding-right: 6rem;

      @media (max-width: 767px) {
        padding-left: 50%;
      }
    }

    &_center {
      padding-right: 4rem;
    }
  }



  /*!!!!!!!!!!!!!! RESPONSIVE !!!!!!!!!!!!!!!!*/
  @media (max-width: 767px) {

  	/* Force table to not be like tables anymore */
  	table, thead, tbody, th, tr {
  		display: block;
  	}

  	/* Hide table headers (but not display: none;, for accessibility) */
  	thead tr {
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  	}

  	tr { border: 1px solid #ccc; }

  	td {
  		display: flex;
      align-items: center;
  		border: none;
  		border-bottom: 1px solid #eee;
  		position: relative;
  		padding-left: 50%;
  	}

  	td:before {
  		/* Now like a table header */
  		position: absolute;
  		/* Top/left values mimic padding */
  		top: 6px;
  		left: 6px;
  		width: 45%;
  		padding-right: 10px;
  		white-space: nowrap;
  	}

  	/*
  	Label the data
  	*/
    td:before {
      text-shadow: none;
      color: inherit;
      top: auto;
    }

  	td:nth-of-type(1):before { content: "Rank"; }
  	td:nth-of-type(2):before { content: "Player"; }
  	td:nth-of-type(3):before { content: "Games played"; }
  	td:nth-of-type(4):before { content: "Wins"; }
  	td:nth-of-type(5):before { content: "Win Ratio"; }
  	td:nth-of-type(6):before { content: "Kills"; }
  	td:nth-of-type(7):before { content: "Top 10 Finishes"; }
  	td:nth-of-type(8):before { content: "Top 3 Finishes"; }
  	td:nth-of-type(9):before { content: "Score"; }
  }

}
