.leaderboard-table__wrapper_1 {
  background: url('../images/leaderboard-table/bg1.png') no-repeat center / cover;

  .leaderboard-table__header-row {
    background-image: linear-gradient(to right, #46277f 0%, #325c7f 50%, #46277f 100%);
  }

  .leaderboard-table__row:nth-child(3) {
    .leaderboard-table__td:nth-child(n + 2) {
      text-shadow: 3px 3px 0 #7a3e77, -3px 3px 0 #7a3e77, 3px -3px 0 #7a3e77,  -3px -3px 0 #7a3e77;
    }
  }

  .leaderboard-table__row:nth-child(3), .leaderboard-table__row:nth-child(4), .leaderboard-table__row:nth-child(5){
    background-image: linear-gradient(to right, #ff6e42 0%, #c15fff 50%, #ff6e42 100%);
    box-shadow: 0 0 4rem rgba(84, 204, 249, 0.76), inset 0 0 2rem rgba(255, 39, 0, 0.5);

    .leaderboard-table__td {
      background-color: transparent;
    }

    .leaderboard-table__td:nth-child(1) .td-inner{
      background: #ff5937;
      color: #291c46;
    }

  }

}
