@import url('https://fonts.googleapis.com/css?family=Orbitron');

.slide {
  max-width: 1920px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Orbitron';
  background: #0f131a;
}

.slide__top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('./images/slide__top-bg.png') no-repeat center / contain;
}

.slide__bottom {
  width: 100%;
  max-height: 173px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('./images/slide__bottom-bg.png') no-repeat center / contain;
}

.slide__top-label {
  background-image: linear-gradient(to left, #5bc3ee 0%, #a9e1f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #fefefe;
  font-size: 44px;
  text-transform: uppercase;
  color: transparent;
  font-weight: 700;
  position: relative;
  top: -20px;
}

.slide__top-logo {
  width: 231px;
  height: 219px;
  background: url('./images/logo.png') no-repeat center / contain;
}

.slide__content {
  display: flex;
  align-items: center;
}
