@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700,900');


.slide {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Orbitron';
  background: #0f131a url('./images/bg.png') repeat-y center / 100%;
  max-height: 100vh;
}

.slide__top {
  width: 100%;
  display: flex;
  height: 28vh;
  justify-content: space-around;
  align-items: flex-start;
  background: url('./images/slide__top-bg.png') no-repeat center top / contain;
}

@media (max-width:767px) {
  .slide__top {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.slide__bottom {
  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('./images/slide__bottom-bg.png') no-repeat center bottom / contain;
}

.slide__top-label {
  background-image: linear-gradient(to left, #5bc3ee 0%, #a9e1f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #fefefe;
  font-size: 2vw;
  text-transform: uppercase;
  color: transparent;
  font-weight: 700;
  position: relative;
  top: 2.3vw;
  white-space: nowrap;
}

@media (max-width:1500px) {
  .slide__top-label {
    font-size: 30px;
    top: 30px;
  }
}

@media (max-width:1275px) {
  .slide__top-label {
    font-size: 25px;
    top: 20px;
  }
}

@media (max-width: 992px) {
  .slide__top-label {
    font-size: 20px;
    top: 20px;
  }
}

@media (max-width: 840px) {
  .slide__top-label {
    font-size: 16px;
    top: 12px;
  }

  .slide__top-label_second {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .slide__top-label {
    font-size: 14px;
    top: 8px;
  }
}

@media (max-width: 410px) {
  .slide__top-label_second {
    font-size: 11px;
    top: 5px;
  }
}

.slide__top-logo {
  width: 10vw;
  height: 10vw;
  background: url('./images/logo.png') no-repeat center / contain;
}

@media (max-width: 600px) {
  .slide__top-logo {
    height: 100px;
  }
}

.slide__content {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70vh;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .slide__content {
    flex-direction: column;
    align-items: center;
  }
}

.slide__graph {
  max-width: 39%;
  height: 100%;
  object-fit: contain;
  margin-right: 30px;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .slide__graph {
    margin: 0;
    margin-bottom: 30px;
    width: 60%;
  }
}

.slide__games-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  margin-right: 50px;
  max-height: calc(100vh - 400px);
  overflow: auto;
}

@media (max-width:767px) {
  .slide__games-list {
    margin: 0;
    width: 90%;
  }
}

.slide__game-item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin-bottom: 15px;
}

.slide__game-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  box-shadow: 0 0 8px 1px rgba(255, 60, 0, 0.58);
  background-color: #ffe451;
}

.slide__item-wrapper {
  display: flex;
  align-items: center;
}

.slide__game-name {
  text-shadow: 0 0 8px rgba(0, 174, 255, 0.58);
  color: #fefefe;
  font-size: 1.5vw;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .slide__game-name {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .slide__game-name {
    font-size: 14px;
  }
}

.slide__game-sq {
  min-width: 34px;
  min-height: 34px;
  display: inline-block;
  margin-right: 18px;
}

.slide__game-points {
  text-shadow: 0 0 8px rgba(255, 60, 0, 0.58);
  font-size: 1.7vw;
  font-weight: 900;
  color: #ffe451;
}

@media (max-width: 1600px) {
  .slide__game-points {
    font-size: 23px;
  }
}

@media (max-width: 767px) {
  .slide__game-points {
    font-size: 16px;
  }
}
