@font-face {
  font-family: "Bebas Neue Bold";
  src:url('./../fonts/BebasNeue Bold.otf'), url('./../fonts/BebasNeue Bold.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/BrandonGrotesque-Bold.eot"),
       url("../fonts/BrandonGrotesque-Bold.ttf"),
       url("../fonts/BrandonGrotesque-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 1vh;
}

body {
  margin: 0;
  max-height: 100vh;
  min-height: 100vh;
}

@media (max-aspect-ratio: 13/9) {
  html {
    font-size: .75vh;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}
