{% extends "./templates/decorators/_base.html"  %}

{% block page_title %}

{% endblock %}

{% block page_body %}

	<h1 style="text-align:center;">REGIONAL</h1>
	<ul>
		<li><a style="font-size:20px !important;"href="./dayLastRegional.html">dayLastRegional</a></li>
		<li><a style="font-size:20px !important;"href="./monthPresentRegional.html">MonthPresentRegional</a></li>
		<li><a style="font-size:20px !important;"href="./weeksPresentRegional.html">weeksPresentRegional</a></li>
		<li><a style="font-size:20px !important;"href="./allTimeRegional.html">allTimeRegional</a></li>
	</ul>



{% endblock %}
